{% extends 'base.html.twig' %}

{% block title %}Strona Główna{% endblock %}

{% block main %}
    <div class="container mb-5">
        <header class="mb-4">
            <h1 class="h2 text-center">Ostatnio dodane produkty</h1>
        </header>
        <div class="row">
        {% for product in products %}
            <div class="col-3 mb-4">
                <div class="p-2 product">
                    <a href="{{ path('product', {slug: product.slug}) }}">
                        <div class="product-image">
                            <img src="{{ asset('/images/uploads/products/' ~ product.image) }}" alt="{{product.name}}">
                        </div>
                        <p class="name">{{ product.name }}</p>
                        <p class="price">{{ product.price }} zł</p>
                    </a>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
{% endblock %}
